<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>tailwind.config={theme:{extend:{fontFamily:{poppins:["Poppins","sans-serif"]}}}};</script>
</head>
<body class="font-poppins" >
    <div class="container1 min-h-screen w-full bg-zinc-900 text-white p-10">
        <h3 class="text-3xl mb-5">Login</h3>
           <form  action="/login" method="post">
            <input class="px-3 text-white py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" type="email" name="email" placeholder="email">
            <input class="px-3 text-white py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" type="password" name="password" placeholder="password">
            <input class="px-5  py-2 outline-none   text-white bg-blue-600 rounded-md "  type="submit" value="Login ">
           </form>
           <a class="text-blue-600 inline block mt-2" href="/">New User!</a>
    </div>
</body>
</html>